<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Runclub</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <div class="uk-section">
        <div class="uk-container">

            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                <div class="uk-navbar-left">
                    <img src="/imgs/fit.png" alt="">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="">Schedule</a></li>
                        <li class="uk-parent"><a href="">Add</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="uk-section uk-background-muted">
    <div class="uk-container">
        <h2 class="uk-headking-small uk-text-left">My Schedule</h2>

        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>

        </div>
    </div>

</body>

</html>